STRIPE_SECRET=
STRIPE_ENDPOINT_SECRET=
STRIPE_SUCCESS_URL="http://localhost:3003/api/payments/success"
STRIPE_CANCEL_URL="http://localhost:3003/api/payments/cancelled"
AUTH_DATABASE_URL=""
JWT_SECRET=""
CLIENT_GATEWAY_PORT=3000
AUTH_PORT=3004
PRODUCTS_DATABASE_URL=file:./dev.db
PRODUCTS_PORT=3001
ORDERS_DATABASE_URL=""
ORDERS_PORT=3003